<!DOCTYPE html>
<html lang="en">

<head>
<%- include ('../partials/head.ejs') %>
    <title>
        VegReview🥕
    </title>
</head>

    <body>
        
        <nav>
            <div class="nav-wrapper">
                <a href="../" class="brand-logo">VegReview</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="../reviews">All Reviews</a></li>
                        <li><a href="../veggies">List of Veggies</a></li>
                    </ul>
            </div>
        </nav>
        <div class="container">
            <main>
                <h4 class="listHeader">All Veggies</h4>
                <div class="centeredButton">
                     <!-- add if about user to show/hide add review option -->
                    <h5><a id="addReview" class="waves-effect waves-light btn" href="../reviews/new">Add a Review!</a></h5>   
                </div>
                    <% if(!veggies.length) { %>
                        <p>There are no veggies available. :(</p>
                    <% } %>
                <div class="allVeg">
                    <% veggies.forEach(veggie=> { %>   
                        <a href="/veggies/<%= veggie._id %>">
                            <img src="/public/PNGs/<%= veggie.name %>.png" height="200" alt="<%=veggie.name %> "><br>
                            <%= veggie.name %>
                        </a>
                    <% }) %>
                </div>
            </main>
        </div>
    </body>

</html>