<!DOCTYPE html>
<html lang="en">

<head>
<%- include ('../partials/head.ejs') %>

    <title>VegReview🥕 || Veggies</title>
</head>

    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">VegReview</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="../veggies">Random Veggie</a></li>
                        <li><a href="../veggies">List of Veggies</a></li>
                        <li><a href="../">Return Home</a></li>
                    </ul>
            </div>
        </nav>
            <main>
                <div class="vegContainer">
                    <h3>List of Veggies</h3><br>
                        <h5><strong><a href="../reviews/new">Add a NEW Review</a></strong></h5>        
                                <% if(!veggies.length) { %>
                                    <p>There are no veggies available. :(</p>
                                <% } %>
                            <div class="flex-container">
                                <% veggies.forEach(veggie=> { %>   
                                    <a href="/veggies/<%= veggie._id %>">
                                        <img src="/public/PNGs/<%= veggie.name %>.png" height="200" alt="<%=veggie.name %> "><br>
                                        <%= veggie.name %>
                                    </a>
                                <% }) %>
                            </div>
                </div>
            </main>
    </body>

</html>
