<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs') %>
    <title>
        <%= veggie.name %> | VegReview🥕
    </title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="../" class="brand-logo">VegReview</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="../reviews">All Reviews</a></li>
                    <li><a href="../veggies">List of Veggies</a></li>
                </ul>
        </div>
    </nav>
<main>
<div class="container">
    <h2 style="text-align: center;"><%= veggie.name %></h2>
        <div class="vegCard">
            <img class="vegId" src="/public/PNGs/<%= veggie.name %>.png" height="200" alt="<%=veggie.name %>"><br> 
            <div class="vegInfo">
                <h4>Veggie Info</h4>
                    <div class="textLeft">
                        <ul>
                            <li><strong>Name:</strong> <%= veggie.name %></li>
                            <li><strong>Scientific Name:</strong>  <%= veggie.scientific_name %></li>
                            <li><strong>Country of Origin:</strong> <%= veggie.origin %></li>
                            <li><strong>Favorite Recipe:</strong>
                                <% if (veggie.recipe_URL && veggie.recipe_URL.length>0) { %>
                                    <a class="recipeLink" href="<%=veggie.recipe_URL%>">
                                        <% } %>
                                        <%= veggie.recipe %></li>
                                        <% if (veggie.recipe_URL && veggie.recipe_URL.length>0) { %>
                                    </a>
                                <% } %>
                        </ul>
                    </div>
                </div> 
                    <br>
        </div>
    <br>
    <div class="centeredButton">
        <!-- add if about user to show/hide add review option -->
       <h5><a id="addReview" class="waves-effect waves-light btn" href="../reviews/new">Add a Review!</a></h5>   
   </div>
        <section>
            <!-- this h1 is just for testing purposes -->
            <% if (veggie.reviews.length) { %>
                <% if (veggie.reviews.length>1) { %>
                <h4 style="text-align: center;"><%= veggie.reviews.length %> reviews already, add yours now!</h4>
                <% } %>
                <% if (veggie.reviews.length === 1) { %>
                    <h4 style="text-align: center;"><%= veggie.reviews.length %> review already, add yours now!</h4>
                <% } %>
                <div>
                    <ul>
                        <% veggie.reviews.forEach(review => { %>
                        <br>
                        <li> <h6 style="font-weight: bold;"><%= review.title %></h6></li>
                        <li> <%= review.body %> </li>                        
                        <li><small>
                            <%= new Date(review.createdAt).toLocaleString() %>
                        </small></li>
                        <% }); %>
                    </ul>
                </div>
                <% } else { %>
                <h4 style="text-align: center;">No reviews yet, <br> start the conversation!</h4>
                <% } %>
            </section>
        </div>
    </main>
</body>
</html>