<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs') %>
    <title>VegReview🥕 || <%= veggie.name %>
    </title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="../veggies" class="brand-logo">VegReview</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="../reviews">All Reviews</a></li>
                    <li><a href="../veggies">List of Veggies</a></li>
                    <li><a href="../">Return Home</a></li>
                </ul>
        </div>
    </nav>
<main>
    <section>
        <div class="vegContainer">
            <h2><%= veggie.name %></h2>
                <img src="/public/PNGs/<%= veggie.name %>.png" height="200" alt="<%=veggie.name %>"><br>  
                        <h3>Veggie Info</h3>
                                <div class="textLeft">
                                <ul>
                                    <li><strong>Name:</strong> <%= veggie.name %></li>
                                    <li><strong>Scientific Name:</strong>  <%= veggie.scientific_name %></li>
                                    <li><strong>Country of Origin:</strong> <%= veggie.origin %></li>
                                    <li><strong>Favorite Recipe:</strong>
                                        <% if (veggie.recipe_URL && veggie.recipe_URL.length>0) { %>
                                            <a href="<%=veggie.recipe_URL%>">
                                        <% } %>
                                            <%= veggie.recipe %> </li>
                                    <% if (veggie.recipe_URL && veggie.recipe_URL.length > 0) { %>
                                    </a>
                                    <% } %>

                                </ul>
                            </div><br>
            <div class="inlineList">
                <a href="../reviews/new">Add Review</a> 
                <!-- <a href="/veggies/<%=veggie._id %>/edit">Edit Review</a> -->
            </div>   

        </div>
    </section>
    <br>
        <section class="container">
            <% if (veggie.reviews.length) { %>
                <h4><%= veggie.reviews.length %> people feel strongly about <%= veggie.name %>.</h1>
                <div>
                    <ul>
                        <% veggie.reviews.forEach(review => { %>
                        <li> <br></li>
                        <li><strong> <%= review.title %></strong> </li>
                        <li> <%= review.createdAt %> </li>
                        <li> <%= review.body %> </li>
                        <% }); %>
                        
                    </ul>
                </div>
                <% } else { %>
                <h5>No reviews yet, start the conversation!</h5>
                <% } %>
        </section>
</main>
</body>
</html>
