<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs') %>
    <title>VegReview🥕 || <%= veggie.name %>
    </title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">VegReview</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="../reviews">All Reviews</a></li>
                    <li><a href="../veggies">List of Veggies</a></li>
                    <li><a href="../">Return Home</a></li>
                </ul>
        </div>
    </nav>
<main>
    <section>
        <div class="vegContainer">
            <h2><%= veggie.name %></h2>
                <img src="/public/PNGs/<%= veggie.name %>.png" height="200" alt="<%=veggie.name %>"><br>  
                        <h3>Veggie Info</h3>
                                <div class="textLeft">
                                <ul>
                                    <li><strong>Name:</strong> <%= veggie.name %></li>
                                    <li><strong>Scientific Name:</strong>  <%= veggie.scientific_name %></li>
                                    <li><strong>Country of Origin:</strong> <%= veggie.origin %></li>
                                    <li><strong>Favorite Recipe:</strong> <%= veggie.recipe %></li>
                                </ul>
                            </div><br>
            <div class="inlineList">
                <a href="../reviews/new">Add Review</a> |
                <a href="/veggies/<%=veggie._id %>/edit">Edit Review</a>
            </div>   

        </div>
    </section>
    <br>
        <section>
            <!-- this h1 is just for testing purposes -->
            <h1>There should be <%= veggie.reviews.length %> reviews here</h1>
            <% if (veggie.reviews.length) { %>
                <div>
                    <ul>
                        <% veggie.reviews.forEach(review => { %>
                        <li> <%= review.title %> </li>
                        <li> <%= review.createdAt %> </li>
                        <li> <%= review.body %> </li>
                    </ul>
                    <% }); %>
                </div>
                <% } else { %>
                <h5>No Reviews Yet</h5>
                <% } %>
        </section>
</main>
</body>
</html>
