<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs') %>
    <title>
      Reviews | VegReview🥕
    </title>
</head>

<body>
  <div class-"container"></div>
  <nav>
        <div class="nav-wrapper">
          <a href="../" class="brand-logo">VegReview</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="../reviews">All Reviews</a></li>
            <li><a href="../veggies">List of Veggies</a></li>
          </ul>
        </div>
      </nav>
    <main>
      <div class="container">
        <h4 class="listHeader">All Reviews</h4>
        <div class="centeredButton">
             <!-- add if about user to show/hide add review option -->
            <h5><a id="addReview" class="waves-effect waves-light btn" href="../reviews/new">Add a Review!</a></h5>   
        </div>
    <% if(!reviews.length) { %>
    <p>There are no reviews available. :(</p>
    <% } %>
      <div>
        <% reviews.forEach(review=> { %>
            <div>
              <review>
                <div>
                  <div>
                    <br>
                    <strong><%= review.veggie.name%> - </strong>
                    <strong><%= review.title%></strong>
                    <small>
                      <%= new Date(review.createdAt).toLocaleString() %>
                    </small>
                    <br>
                    <%= review.body%>
                  </div>
                </div>
                <div>
                  <section>
                    <div>
                      <a class="link" href="/reviews/<%= review._id %>/edit">Edit</a>
                      <a class="link" href="/reviews/<%= review._id %>/?_method=DELETE">Remove</a>
                    </div>
                  </section>
                </div>
              </review>
            </div>
  <% }) %>
      </div>
    </div>
    </main>
  </body>
</html>