<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('../partials/head.ejs') %>
		<title>VegReview🥕</title>
	</head>
	<body>
        <nav>
            <div class="nav-wrapper">
              <a href="#" class="brand-logo">VegReview</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="../veggies">Random Veggie</a></li>
                <li><a href="../veggies">List of Veggies</a></li>
                <li><a href="../">Return Home</a></li>
              </ul>
            </div>
          </nav>
		<main>
					<div class="vegContainer">
						<h2>
							<%= review.veggie.name %>
						</h2>
						<img src="/public/PNGs/<%= review.veggie.name %>.png" height="200" alt="<%=review.veggie.name %>"><br>
						<div class="textLeft">
							<ul>
								<li><strong>Scientific Name:</strong>
									<%= review.veggie.scientific_name %>
								</li>
								<li><strong>Country of Origin:</strong>
									<%= review.veggie.origin %>
								</li>
								<li><strong>Favorite Recipe:</strong>
									<%= review.veggie.recipe %>
								</li>
							</ul>
						</div>					
					</div>
			<h1>Edit <%= review.title %></h1>
	
			<form action="/reviews/<%= review._id %>?_method=PUT" method="POST">
				<input type="text" name="title" value="<%= review.title %>" />
                <input type="text" name="text" value="<%= review.body %>" />
				<input type="hidden" name="veggie" value="<%= review.veggie %>" /> <!-- Veggie being reviewed -->
				<input type="submit" value="Update" />
			</form>
		</main>
	</body>
</html>