<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('../partials/head.ejs') %>
		<title>
			Edit Review | VegReview🥕
		</title>
	</head>
	<body>
		<nav>
			<div class="nav-wrapper">
			  <a href="../.." class="brand-logo">VegReview</a>
			  <ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="../../reviews/">All Reviews</a></li>
				<li><a href="../../veggies/">List of Veggies</a></li>
			  </ul>
			</div>
		  </nav>
		<main>
			<div class="container">
				<h2>
					Edit review for <%= review.veggie.name %>
				</h2>		
			<h3>Edit Review: <%= review.title %></h3>
			<div id="editReviewForm">
			<form action="/reviews/<%= review._id %>?_method=PUT" method="POST">
				<p>
					Title<input type="text" name="title" value="<%= review.title %>" />
				</p>
				<p>
					Text<input type="text" name="body" value="<%= review.body %>" />
				</p>
				<input type="hidden" name="veggie" value="<%= review.veggie %>" /> <!-- Veggie being reviewed -->
				<input type="submit" value="Update" />
			</form>
			</div> 
		</div>
		</main>
	</body>
</html>