<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs') %>
    <title>VegReview || Reviews</title>
</head>

<body>
  <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">VegReview</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="../reviews">All Reviews</a></li>
            <li><a href="../veggies">List of Veggies</a></li>
            <li><a href="../">Return Home</a></li>
        </ul>
        </div>
      </nav>

    <section>
      <div class="vegContainer">
        <h3>All Reviews</h3>
      </div>
    </section>

    <main>
      <div class="container">
        <p>
        <li>
            <a href="/reviews/new">Add a NEW Review</a>
        </li>
        </p>
    <% if(!reviews.length) { %>
    <p>There are no reviews available. :(</p>
    <% } %>
      <div>
        <% reviews.forEach(review=> { %>
            <div>
              <review>
                <div>
                  <div>
                    <div><%= review.veggie.name %></div>
                    <strong><%= review.title%></strong>
                    <small>
                      <%= new Date(review.createdAt).toLocaleString() %>
                    </small>
                    <br>
                    <%= review.body%>
                  </div>
                </div>
                <div>
                  <section>
                    <div>
                      <a href="/reviews/<%= review._id %>/edit">Edit</a> |
                      <a href="/reviews/<%= review._id %>/?_method=DELETE">Remove</a>
                    </div>
                  </section>
                </div>
              </review>
            </div>
  <% }) %>
      </div>
    </div>
    </main>
  </body>
</html>