<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs') %>
    <title>All Reviews</title>
</head>

<body>
        <nav>
          <!-- <a href="../veggies">Random Veggie</a> -->
          <a href="../veggies">List of Veggies</a>
          <a href="../">Return Home</a>
        </nav>

    <section>
      <div class="vegContainer">
        <h3>All Reviews</h3>
      </div>
    </section>

    <main>
      <div class="container">
        
    <% if(!reviews.length) { %>
    <p>There are no reviews available. :(</p>
    <% } %> 
      <div class="textContainerLeft">
        <p>
          <a href="/reviews/new">Add a NEW Review</a>
        </p>
        <% reviews.forEach(review=> { %>
            <div>
              <review>
                <div>
                  <div>
                    <div><%= review.veggie.name %></div><br>
                    <strong><%= review.title%></strong><br>
                    <small>
                      <%= new Date(review.createdAt).toLocaleString() %>
                    </small>
                    <br>
                    <%= review.body%>
                  </div>
                </div>
                <div>
                  <section>
                    <div>
                      <a href="/reviews/<%= review._id %>/edit">Edit</a> |
                      <a href="/reviews/<%= review._id %>/?_method=DELETE">Remove</a>
                    </div>
                  </section>
                </div>
              </review>
            </div>
  <% }) %>
      </div>
    </div>
    </main>
  </body>
</html>