<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('../partials/head.ejs') %>
		<title>VegReview🥕 || Reviews</title>
	</head>
	<body>
        <nav>
            <div class="nav-wrapper">
              <a href="#" class="brand-logo">VegReview</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="../veggies">Random Veggie</a></li>
                <li><a href="../veggies">List of Veggies</a></li>
                <li><a href="../">Return Home</a></li>
              </ul>
            </div>
          </nav>
		<main>
			<section>
				<h2>Review Info</h2>				
				<li>
					<a href="/reviews/new">Add a Review</a>
				</li>
				<a href="/reviews/<%= review._id %>/edit">Edit</a>
                <a href="/reviews/<%= review._id %>/?_method=DELETE">Remove</a>
				<ul>
					<li>Title: <%= review.title %></li>
                    <li>Veggie: <%= review.veggie.name %></li>
                    <li>Text: <%= review.body %></li>
				</ul>
			</section>
			<form action="/reviews/<%= review._id %>?_method=DELETE" method="POST">
				<input type="submit" value="Delete" />
			</form>
		</main>
	</body>
</html>
