<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('../partials/head.ejs') %>
		<title>
			Review | VegReview🥕
		</title>
	</head>
	<body>
		<nav>
			<div class="nav-wrapper">
			  <a href="../" class="brand-logo">VegReview</a>
			  <ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="../reviews">All Reviews</a></li>
				<li><a href="../veggies">List of Veggies</a></li>
			  </ul>
			</div>
		  </nav>
		<main>
			<div class="container">
			<section>
				<h2 style="text-align: center;">Review Info</h2>				
				<div class="centeredButton">
				   <h5><a id="addReview" class="waves-effect waves-light btn" href="../reviews/new">Add a Review!</a></h5>   
			    </div>
				<ul>
					<li>Title: <%= review.title %></li>
                    <li>Veggie: <%= review.veggie.name %></li>
                    <li>Text: <%= review.body %></li>
				</ul>				
				<a href="/reviews/<%= review._id %>/edit">Edit</a>
			</section>
			<form action="/reviews/<%= review._id %>?_method=DELETE" method="POST">
				<input type="submit" value="Delete" />
			</form>
			</div>
		</main>
	</body>
</html>